.col-md-5.mx-auto
  %h3.text-center= t('.title')
  = simple_form_for @menu do |f|
    = f.input :name
    = f.association :items, as: :check_boxes
    = f.button :submit, class: 'btn btn-outline-success mb-2'
