%h3.text-center= @facade.menu_name
%h6.font-weight-bold= t('.first_meals')
- @facade.first_meals.each do |meal|
  %p= meal.meal_name_and_price
%hr
%h6.font-weight-bold= t('.main_meals')
- @facade.main_meals.each do |meal|
  %p= meal.meal_name_and_price
%hr
%h6.font-weight-bold= t('.drinks')
- @facade.drinks.each do |meal|
  %p= meal.meal_name_and_price
- if current_user.admin?
  = render 'orders', facade: @facade
= link_to t('.back'), :back, class: 'btn btn-light mt-2'
