%h3.text-center= @menu.name
%h6.font-weight-bold= t('.meals')
- @meals.each do |meal|
  %p #{meal.item.name} : #{number_to_currency(meal.price)}
= link_to t('.back'), :back, class: 'btn btn-light mt-2'
