%nav.navbar.navbar-light.bg-light.navbar-expand-lg
  .container
    %ul.navbar-nav
      %li.nav-item= link_to t('.menus'), root_path, class: 'nav-link'
      %li.nav-item= link_to t('.new_order'), new_order_path, class: 'nav-link'
    %ul.navbar-nav.ml-auto
      - if user_signed_in?
        - if current_user.admin?
          %li.nav-item= link_to t('.users'), users_path, class: 'nav-link'
        %li.nav-item.nav-link.active= t('.logged_in_as', user_email: current_user.email)
        %li.nav-item= link_to t('.edit_profile'), edit_user_registration_path, class: 'nav-link'
        %li.nav-item= link_to t('.log_out'), destroy_user_session_path, method: :delete, class: 'nav-link'
      - else
        %li.nav-item= link_to t('.sign_up'), new_user_registration_path, class: 'nav-link'
        %li.nav-item= link_to t('.log_in'), new_user_session_path, class: 'nav-link'
