.col-md-5.mx-auto
  %h3.text-center New order
  = simple_form_for @order do |f|
    = f.simple_fields_for :first_meals do |fm|
      = fm.input :name
    %hr
    = f.association :main_meals, as: :radio_buttons
    %hr
    = f.association :drinks, as: :radio_buttons
    = f.button :submit, class: 'btn btn-outline-success mb-2'
