.col-md-5.mx-auto
  %h3.text-center= t('.title')
  = simple_form_for @order do |f|
    = f.association :first_meals, collection: @facade.first_meals, as: :radio_buttons,
      label_method: :meal_name_and_price, value_method: :id
    %hr
    = f.association :main_meals, collection: @facade.main_meals, as: :radio_buttons,
      label_method: :meal_name_and_price, value_method: :id
    %hr
    = f.association :drinks, collection: @facade.drinks, as: :radio_buttons,
      label_method: :meal_name_and_price, value_method: :id
    = f.button :submit, class: 'btn btn-outline-success mb-2'
