.col-md-5.mx-auto
  %h3.text-center New order
  = simple_form_for @order do |f|
    = f.association :first_meals, collection: @menu.items.first_meal, as: :radio_buttons
    %hr
    = f.association :main_meals, collection: @menu.items.main_meal, as: :radio_buttons
    %hr
    = f.association :drinks, collection: @menu.items.drink, as: :radio_buttons
    = f.button :submit, class: 'btn btn-outline-success mb-2'
